<nav id='navbar'>
    <a href='/' id='logo'>
        <img src='/images/techblog.jpg' alt='TechBlog' />
    </a>
    <ul>
        <li><a href='/'>Posts</a></li>
        {{#if session.userId}}
        <li><a href='/posts/dashboard'>Dashboard</a></li>
        <li><a href='/logout'>Sair</a></li>
        {{else}}
        <li><a href='/login'>Entrar</a></li>
        <li><a href='/register'>Registrar</a></li>
        {{/if}}
    </ul>
</nav>