<div class='auth-container'>
    <a href='/posts/dashboard'>Voltar</a>
    <h1>Criando um Post:</h1>
    <form action='/posts/add' method='POST'>
        <div class='form-control'>
            <label for='title'>Título:</label>
            <input type='text' name='title' placeholder='Digite o título' />
            <label for='description'>Descrição:</label>
            <textarea cols="30" rows="10" type='text' name='description' placeholder='Digite a publicação'></textarea>
        </div>
        <!--
        <div class='wrapper'>
            <div class="upload">
                <div class="upload-wrapper">
                    <div class="upload-img">
                         image here
                    </div>
                    <div class="upload-info">
                        <p>
                            <span class="upload-info-value">0</span> arquivos(s) selecionados.
                        </p>
                    </div>
                    <div class="upload-area">
                        <div class="upload-area-img">
                            <img src="../../public/images/upload.png" alt="">
                        </div>
                        <p class="upload-area-text">Selecionar imagens ou <span>procurar</span>.</p>
                    </div>
                    <input type="file" class="visually-hidden" id="upload-input" multiple>
                </div>
            </div>
        </div>
        -->
        <input type='submit' value='Criar Post' />
    </form>
</div>