<div class='dashboard'>
    <div class='title-container'>
        <h2>Dashboard</h2>
        <a href='/posts/add' class='btn'>Criar Post</a>
    </div>
    <h3>Seus Posts:</h3>
    <ul>
        {{#each toughts}}
        <li>
            <span class='label'>{{this.title}}</span>
            <span class='label'>{{this.description}}</span>
            <span class='actions'>
                <a href='/posts/edit/{{this.id}}' class='btn'>Editar</a>
                <form action='/posts/remove' method='POST'>
                    <input type='hidden' name='id' value='{{this.id}}' />
                    <input type='submit' value='Excluir' class='btn' />
                </form>
            </span>
        </li>
        {{/each}}
    </ul>
    {{#if emptyToughts}}
    <p>Ainda não há nenhum post cadastrado, crie um novo
        <a href='/posts/add'>clicando aqui</a>
    </p>
    {{/if}}
</div>